
/* Your CSS Code here. */
+{
	box-sizing: border-box;
}
table, tr, td, th{
	border:1px solid black;
	text-align:center;
}

table{
	width:100%;
}
.bold{
	font-weight:bolder;
}

.colorcell{
	background-color: rgb(0,0,0);
	color: white;
}
